* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  z-index: 10000000;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #efad08;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav a:hover {
  color: #654900;
  
}


.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),  url("monument\ de\ la\ renaissance.avif") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}


.btn {
  background: #5a3700;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}


.section {
  padding: 80px 50px;
  text-align: center;
}

.bg-light {
  background: #f4dea7;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #5a3700;
}

.intro {
  max-width: 800px;
  margin: auto;
}


/* Section */
.why-us {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(135deg, #f4fff9, #f4dea7);
}

.why-us h2 {
  font-size: 36px;
  color: #5a3700;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  font-size: 18px;
  margin-bottom: 50px;
}

/* Cards container */
.cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.cards a{
  text-decoration: none;
}

.cards a h3{
  color:#5a3700
  
}

/* Card */
.card {
  background: #ffffff;
  width: 280px;
  height: 100%;
  padding: 30px 22px; 
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* Effet glow */
.card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(11,102,35,0.1), transparent);
  transition: 0.6s;
}

.card:hover::before {
  top: 100%;
}

/* Hover animation */
.card:hover {
  transform: translateY(-15px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

/* Highlight card */
.card.highlight {
  border: 2px solid #5a3700;
}

/* Icon */
.icon {
  font-size: 40px;
  margin-bottom: 15px;
  animation: float 3s ease-in-out infinite;
}

/* Image */
.card img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.08);
}

/* Text */
.card h4 {
  color: #5a3700;
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
}

/* Floating animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}
  

.cta {
  background: #f2d58d;
  color: #5a3700;
  padding: 80px 50px;
  text-align: center;
}

.cta h2 {
  margin-bottom: 25px;
}


.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }

  .header {
    flex-direction: column;
  }

  .nav {
    margin-top: 10px;
  }
}
