* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #efad08;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav a:hover {
  color: #5a3700;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("monument\ de\ la\ renaissance.avif") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 20px;
  margin: 15px 0;
}

/* Buttons */
.btn {
  background: #5a3700;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;

  a{
    text-decoration: none;
    color: white;
  }
}

/* Sections */
.section {
  padding: 80px 50px;
  text-align: center;
}

.bg-light {
  background: #f4dea7;
}

.section h2 {
  color: #5a3700;
  margin-bottom: 20px;
  font-size: 32px;
}

.intro {
  max-width: 800px;
  margin: auto;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  width: 280px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}

.card h4 {
  color: #5a3700;
  margin-bottom: 10px;
}

.card.highlight {
  border: 2px solid #5a3700;
}

/* CTA */
.cta {
  background: #f2d58d;
  padding: 80px 50px;
  text-align: center;
  position: relative;
  top: 20px;
}

/* Contact */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Footer */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 32px;
  }
}
